/* CSS par Christine, Florent et Lionel */
/* ==================================== */

/*
Blanc : #FFFFFF ou #FFF
Bleu Clair : #74AAD5
Bleu Foncé : #13324B
*/

/* Définition des polices personnalisées */

@font-face {
    font-family: 'droid_serifregular';
    src: url('/polices/droidserif-webfont.eot');
    src: url('/polices/droidserif-webfont.eot?#iefix') format('embedded-opentype'),
         url('/polices/droidserif-webfont.woff2') format('woff2'),
         url('/polices/droidserif-webfont.woff') format('woff'),
         url('/polices/droidserif-webfont.svg#droid_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratregular';
    src: url('/polices/montserrat-regular-webfont.eot');
    src: url('/polices/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/polices/montserrat-regular-webfont.woff2') format('woff2'),
         url('/polices/montserrat-regular-webfont.woff') format('woff'),
         url('/polices/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
    width: 100%;
    margin: auto;
}

/* DIV section3 maquette*/
/*======================*/

img{
    width: 600px;
    height: 400px;
    display: block;
    margin-right: auto;
    margin-left: auto;

}

/* DIV section4 listes*/
/*====================*/

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    padding-bottom: 40px;
    width: auto;
}

.listes{
  width: 250px;

}

.listes:nth-child(1) {
    margin-right: 15px;
}

.listes:nth-child(2) {
    margin-left: 15px;
}

.liste1 {
    box-shadow: 0px 0px 30px silver;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-top: 25px;
}

.liste2 {
    box-shadow: 0px 0px 30px silver;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom:25px;
    padding-top: 25px;
}

.conteneurListe{
  display: flex;
  align-items: baseline;
  width: 220px;
  height: 60px;
}

.contenuImage {
  width: 6px;
  height: 6px;
}

.contenuImage img {
  width: 6px;
  height: 6px;
}

.contenuTexte {
  font-size: 11px;
  font-family: "montserratregular", sans-serif;
  font-weigth: light;
  text-align: left;
  margin-left: 20px;
  margin-right: 25px;
  border-bottom: 1px solid rgba(192,192,192,0.5);
  width: 400px;
  height: 50px;

}

#icon{
    width: 6px;
    height: 6px;
    float: left;
    background-color: black;


}

.police{
    font-size: 13px;
    font-weigth: light;
    text-align: left;
    margin-left: 20px;
    vertical-align: middle;
    border-bottom-style: inset;
    border-bottom: 2px dotted silver;
    padding-bottom: 4px;

}

.icon-pointsforts {
  position: relative;
  top: 25px;
  left: 42.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  opacity: 0.6;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.contenu-icon-pointsforts {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #74AAD5;
  opacity: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

  .contenu-icon-pointsforts img {
    width: 15px;
    height: 15px;
  }

.icon-prestations {
  position: relative;
  top: 25px;
  left: 42.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  opacity: 0.6;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.contenu-icon-prestations {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #74AAD5;
  opacity: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

  .contenu-icon-prestations img {
    width: 15px;
    height: 15px;
  }

.title1{
  font-size: 20px;
  color: #13324B;
  text-align: center;
  font-family: 'droid_serifregular', sans-serif;
}

.title2{
  font-size: 20px;
  color: #13324B;
  text-align: center;
  font-family: 'droid_serifregular', sans-serif;
}



















/* ======================== Media Queries ======================== */
/* PC : 2560 1920 1680 1440 1366 1280 1152 1024 800 / Mobile : 480 */

.test_mediaqueries {
    display: none;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

@media screen and (max-width: 1920px) {

}





/* ==================================== */
/* CSS par Christine, Florent et Lionel */
